<page-util is-owner=isOwner is-single-item=true deleting=false changing=false selected=[] displayed=deck.Cards add-fn=createCard(event) change-fn=updateCard(event) del-fn=deleteCard()></page-util>
<div layout="column" layout-align="center center" layout-margin>
  <div class="flip">
    <div class="card" ng-class="{'flipped':!isCardFront}" ng-click="isCardFront=!isCardFront">
      <div class="face front" ng-class=deck.Tags[0].name+"-deck-deckview" layout="column" layout-align="center center" layout-padding>
        {{ card.front }}
      </div>
      <div class="face back" layout="column" layout-align="center center" layout-padding>
        {{ card.back }}
      </div>
    </div>
  </div>
</div>
