<div layout="column" layout-align="center center" layout-margin>
  <div class="flip">
    <div class="card" ng-class="{'flipped':!isCardFront}" ng-click="isCardFront=!isCardFront">
      <div class="face front" ng-class='"{{deck.tags[0].name+"-deck-deckview"}}"' layout="column" layout-align="center center" layout-padding>
        {{ card.front }}
      </div>
      <div class="face back" layout="column" layout-align="center center" layout-padding>
        {{ card.back }}
      </div>
    </div>
  </div>
  <div ng-if="isOwner" layout="row" layout-align="center">
    <md-button> Edit </md-button>
    <md-button> Delete </md-button>
  </div>
</div>
