<md-dialog aria-label="create deck" >
  <form novalidate ng-submit="deckForm.$valid && create(deck)" name="deckForm" layout="column" ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Create new deck</h3>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Deck name</label>
        <input type="text" name="name" ng-model="deck.name" required md-maxlength="55">
        <div ng-messages="deckForm.name.$error">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">Please limit to 55 characters!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm >
        <md-checkbox ng-model="deck.isPublic" ng-init="deck.isPublic=false" ng-true-value="true" ng-false-value="false" aria-label="isPublic">Public deck</md-checkbox>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Tag</label>
        <md-select name="tag" ng-model="deck.tag" required>
          <md-option ng-repeat="tag in tags" value="{{tag}}">
            {{tag}}
          </md-option>
        </md-select>
        <div ng-messages="deckForm.tag.$error">
          <div ng-message="required">This is required!</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="center">
        <md-button class="cancel" ng-click="cancel()">Cancel</md-button>
        <md-button type="submit">Add deck</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
