<form novalidate ng-submit="cardForm.$valid && create(cardData)" name="cardForm" ng-cloak class="md-inline-form" flex-offset-gt-sm="25" flex-gt-sm="50">
  <div layout="column">
  <md-input-container>
    <label>Front</label>
    <input name="front" ng-model="cardData.front" required>
    <div ng-messages="cardForm.front.$error">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Back</label>
    <input name="back" ng-model="cardData.back">
  </md-input-container>
  <div layout="row" layout-align="center">
    <md-button class="cancel" ng-click="cancel()">Cancel</md-button>
    <md-button type="submit">Create</md-button>
  </div>
  </div>
</form>