<page-util is-owner=isOwner is-single-item=false deleting=deleting changing=changing selected=selected displayed=deck.Cards add-fn=showAddCardDialog(event) del-fn=deleteCards()></page-util>
<!-- <div layout="column" layout-align="top center"> -->
  <div layout-margin layout-wrap layout="row" layout-align="center center">
    <!-- <div>{{selected[0]}}</div> -->
    <div layout="column" layout-align="center start" class="metadata-wrapper">
    <!-- icons here are dummied, refer to https://material.angularjs.org/latest/api/directive/mdIcon for customized icons -->
      <div layout="row" layout-align="start center">
        <i class="material-icons metadata-title-icon">T</i>
        <div class="metadata-title-text">{{ deck.name | limitTo:30}}</div>
      </div>
      <div layout="row" layout-align="start center">
        <i class="material-icons metadata-accessibility-icon">clock_outline</i>
        <div ng-if="deck.isPublic">Public Deck</div>
        <div ng-if="!deck.isPublic">Private Deck</div>
      </div>
      <div ng-if="deck.isForked" layout="row" layout-align="start center"> 
        <i class="material-icons">lightbulb_outline</i>
        <div>Forked from {{deck.forkedFrom | limitTo:40}}</div>
      </div>

      <!-- <div layout="row" layout-align="start center">
        <i class="material-icons">query_builder</i>
        <div>{{ deck.createdAt }}</div>
      </div>
      <div layout="row" layout-align="start center">
        <i class="material-icons">query_builder</i>
        <div>{{ deck.updatedAt }}</div>
      </div> -->

      <div layout="row" layout-align="start center">
        <i class="material-icons">label_outline</i>
        <button ng-repeat="tag in deck.Tags" class="metadata-tag">{{ tag.name }}</button>
      </div>
    </div>
  </div>
  <div layout-margin layout-wrap layout="row" layout-xs="column" layout-align="center center">
    <!-- tag color here is dummied to the first one in the list -->
    <div ng-repeat="card in deck.Cards" ng-class=deck.Tags[0].name+"-deck-deckview" ng-click="viewCard(deck.id, card.id)" class="deck-deckview">
      <md-checkbox class="card-select" aria-label="select deck" ng-disabled="!deleting&&!changing" ng-checked="isSelected(card)" ng-click="select(card); $event.stopPropagation();"></md-checkbox>
      <div align="center" class="card-preview">{{ card.front | limitTo:55}}</div>
    </div>
  </div>
<!-- </div> -->
