<form name="deckForm" novalidate ng-submit="deckForm.$valid && update(deck)" flex-offset-gt-sm="25" flex-gt-sm="50">
  <label>Deck Name</label>
  <input ng-model="deck.name" required>
  <div  ng-init="deck.isPublic=false">
    <input type="radio" ng-model="deck.isPublic" value="true" /> <label>Public</label>
    <input type="radio" ng-model="deck.isPublic" value="false" /> <label>Private</label>
  </div>
  <div layout="row" layout-align="center">
    <md-button class="cancel">Cancel</md-button>
  	<input type="submit" ng-click="update(deck)" value="Update" />
  </div>
</form>