<!-- <walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#search-wrapper"
            icon="single_tap"
            main-caption="Use the search bar to find Decks of Cards"
            force-caption-location="BOTTOM"
            is-active="showSearchbar"
            has-glow="true"
            on-walkthrough-hide="showSidebarButton=true">
</walkthrough> -->
<walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#sidebar-button"
            force-caption-location="BOTTOM"
            icon="single_tap"
            main-caption="Click here to navigate among different tags of Decks"
            icon-padding-left="0"
            icon-padding-top="20"
            is-active="showSidebarButton"
            has-glow="true">
</walkthrough>

<form novalidate ng-submit="search(queryString)" name="cardForm" ng-cloak class="md-inline-form" flex-offset-gt-sm="25" flex-gt-sm="50">
  <div layout="row">
    <md-input-container id="search-wrapper" flex="85">
      <input id="search-bar" aria-label="select deck" ng-model="queryString" required></input>
    </md-input-container>
    <md-button id="search-button" flex="15" type="submit">Search</md-button>
  </div>
</form>

<div class="no-deck" layout="column" layout-align="center center" ng-if=noResult>
  <h2>No result. Please try again. :)</h2>
</div>

<div id="main-cardview" layout-margin layout-wrap layout="row" layout-xs="column" layout-align="center center">
  <div ng-repeat="deck in searchResults" ng-class=deck.color+"-deck-homeview" ng-click="viewDeck(deck.id)" class="deck-homeview">
    <md-checkbox class="deck-select" aria-label="select deck" ng-disabled=true></md-checkbox>
    <div layout="column" layout-align="center center" class="deck-title" ng-click="viewDeck(deck.id)">
      {{deck.name | limitTo:55}}
    </div>
  </div>
  <div ng-if="noResult">
    <h3><i class="material-icons">favorite</i>Recommended</h3>
    <div ng-repeat="deck in recommended" ng-class=deck.color+"-deck-homeview" ng-click="viewDeck(deck.id)" class="deck-homeview">
      <md-checkbox class="deck-select" aria-label="select deck" ng-disabled=true></md-checkbox>
      <div layout="column" layout-align="center center" class="deck-title" ng-click="viewDeck(deck.id)">
        {{deck.name | limitTo:55}}
      </div>
    </div>
  </div>
</div>