<div class="login-main-wrapper" layout="column" layout-align="center">
  <div layout="column" layout-align="center center" layout-margin>
    <div class="login-logo-container" layout="column" layout-align="center center">
      <img src="./images/login-deck.png" alt="" />
      <h1>Cardhub</h1>
      <h3>organize life in cards</h3>
    </div>
    <div class="login-login-button" layout="column" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="login()">
        <md-icon md-svg-src="images/facebook-box.svg"></md-icon>
        Login with Facebook
      </md-button>
    </div>
  </div>
  <div class="login-foot-notes">
    <a ng-click="showPrivacy()">Privacy</a> · <a ng-click="showTerms()">Terms</a> · Cardhub 2016
  </div>
</div>
