<!-- Body -->
<div layout="column" layout-fill>
  <!-- Side nav -->
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="2">
    <md-list ng-cloak class="side-nav">
      <md-list-item class="user-photo">
        <img ng-src="{{currentUser.avatar}}" ng-click="viewUserProfile(currentUser.id)" class="md-avatar">
      </md-list-item>
      <md-list-item class="user-name">
        <p>Hey, {{currentUser.name}}</p>
      </md-list-item>
      <md-subheader class="md-no-sticky">Personal</md-subheader>
      <md-list-item ng-click="changeFilter('all')"class="nav-item">
        <p>All</p>
      </md-list-item>
      <md-list-item ng-click="changeFilter(filter.name)" ng-repeat="filter in tagFilters" class="nav-item">
        <i class="material-icons">label_outline</i>
        <p>{{filter.name}}</p>
      </md-list-item>
      <md-list-item ng-click="showEditTagsDialog()"class="nav-item">
        <i class="material-icons">edit</i>
        <p>Edit tags</p>
      </md-list-item>
      <md-list-item ng-click="changeFilter('deleted')"class="nav-item">
        <p>Deleted</p>
      </md-list-item>
      <md-subheader class="md-no-sticky">Public</md-subheader>
      <md-list-item ng-click="goTo(state.state)" ng-repeat="state in publicStates">
        <i class="material-icons">{{state.icon}}</i>
        <p>{{state.name}}</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="logOut()">Log Out</md-list-item>
    </md-list>
  </md-sidenav>
  <!-- Main Content -->
  <!-- Header -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" id="sidebar-button" ng-click="toggleLeft()">
        <md-icon md-font-set="md">menu</md-icon>
      </md-button>
      <div ncy-breadcrumb></div>
      <md-button class="help-button" ng-click="showHelp()">
        <md-icon md-font-set="md">help</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex>
    <ui-view style="width: 100%;" autoscroll="true"></ui-view>
  </md-content>
</div>
