<md-dialog aria-label="privacy terms" >
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Privacy and Terms</h3>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom md-swipe-content="true" md-selected="selectedTab">
        <md-tab label="Privacy">
          <md-content class="md-padding privacy">
            <p>By accepting the Privacy Policy, you express consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy. This Privacy Policy is effective upon acceptance for new users and is otherwise effective on Thursday, 22 September 2016.</p>

            <h3>Definitions</h3>

            <ol>
              <li>References to “Our”, “We”, “Us” and "Cardhub" shall be references to Cardhub.</li>
              <li>References to “You”, “Users” and “Your” shall mean references to user(s) visiting this web site, as the context requires.</li>
            </ol>

            <h3>Information Collection</h3>

            <p>Browsing our websites does not require your identities to be revealed. However, under the following circumstances, you are not anonymous to us.</p>

            <h4>User</h4>

            <p>We will ask for your personal information. The personal information collected includes but not restricting to the following:</p>

            <ol>
              <li>Private information such as name</li>
              <li>Contact information such as email address</li>
              <li>Additional information which we may ask for if we believe the site policies are violated</li>
            </ol>

            <p>Once you log into the account, your identity will be revealed to us.</p>

            <h4>Information Usage</h4>

            <p>The primary purpose in collecting personal information is to provide the users with a smooth and customized experience.</p>
            <p>We will use the information collected for the following purposes:</p>
            <ol>
              <li>To provide its intended services</li>
              <li>To resolve disputes, and troubleshoot problems and errors</li>
              <li>To assist in law enforcement purposes and prevent/restrict the occurrences of potentially illegal or prohibited activities</li>
            </ol>

            <h3>Disclosure of information</h3>

            <p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when:<p>

            <ol>
              <li>Permitted or required by law; or,</li>
              <li>Trying to protect against or prevent actual or potential fraud or unauthorized transactions; or,</li>
              <li>Investigating fraud which has already taken place.</li>
            </ol>

            <p>The information is not provided to these companies for marketing purposes.</p>

            <h3>Usage of Cookies</h3>

            <p>Cookies are small files placed in your computer hard drives. We use it to analyse our site traffic. We have also used cookies to maintain your signed in status when you login to our websites.</p>

            <h3>Commitment to Data Security</h3>

            <p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>

            <h3>Changes to the Policies</h3>

            <p>We reserved the rights to amend this Privacy Policy at any time. Upon posting of new policies, it will take immediate effect. We may notify you should there be any major changes to the policies.</p>
          </md-content>
        </md-tab>
        <md-tab label="Terms">
          <md-content class="md-padding privacy">
            <p>
              Last updated: September 22, 2016
            </p>
            <p>
              Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://cardhub.tk website (the "Service") operated by Connectr ("us", "we", or "our").
            </p>
            <p>
              Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
            </p>
            <p>
              By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
            </p>
            <h3>Links To Other Web Sites</h3>

            <p>
              Our Service may contain links to third-party web sites or services that are not owned or controlled by Connectr.
            </p>
            <p>
              Cardhub has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Connectr shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            </p>
            <p>
              We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
            </p>
            <h3>Termination</h3>
            <p>
              We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
            </p>
            <p>
              All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>
            <h3>Governing Law</h3>

            <p>
              These Terms shall be governed and construed in accordance with the laws of Singapore, without regard to its conflict of law provisions.
            </p>
            <p>
              Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
            </p>

            <h3>Changes</h3>

            <p>
              We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
            </p>

            <p>
              By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
            </p>

            <h3>Contact Us</h3>
            <p>
              If you have any questions about these Terms, please contact us.
            </p>
          </md-content>
        </md-tab>
      </md-tabs>
      <div layout="row" layout-align="center">
        <md-button class="cancel" ng-click="cancel()">Ok</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
