<walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#userInfo"
            main-caption="This panel shows information on current User"
            force-caption-location="BOTTOM"
            is-active="showUserInfo"
            has-glow="true"
            on-walkthrough-hide="showUserDeckInfo=true">
</walkthrough>
<walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#deckInfo-userview"
            main-caption="This panel shows all public decks current user has"
            force-caption-location="TOP"
            is-active="showUserDeckInfo"
            has-glow="true"
            on-walkthrough-hide="showSidebarButton=true">
</walkthrough>
<walkthrough
            walkthrough-type="transparency"
            focus-element-selector="#sidebar-button"
            force-caption-location="TOP"
            icon="single_tap"
            main-caption="Click here to navigate among different tags of Decks"
            icon-padding-left="0"
            icon-padding-top="20"
            has-glow="true"
            is-active="showSidebarButton">
</walkthrough>

<div layout="column" layout-align="center center" layout-margin>
  <div layout="row" layout-align="center center" layout-margin id="userInfo">
    <img ng-src="{{user.avatar}}" class="md-avatar">
    <div layout="column" layout-align="center center" layout-margin>
      <span>{{user.name}}</span>
      <!-- <span>{{user.email}}</span> -->
    </div>
  </div>

  <div layout-margin layout-wrap layout="row" layout-xs="column" layout-align="center center" id="deckInfo-userview">
    <div ng-repeat="deck in user.Decks" ng-class=deck.color+"-deck-homeview" class="deck-homeview">
      <md-checkbox class="deck-select" aria-label="select deck" ng-disabled=true></md-checkbox>
      <div layout="column" layout-align="center center" class="deck-title" ng-click="viewDeck(user.Decks[$index].id)">
        {{deck.name | limitTo:55}}
      </div>
    </div>
  </div>
</div>
