button.md-fab.md-button.md-ink-ripple { 
	background-color: $color-action;
}

button.md-fab.md-raised.md-mini.md-button.md-ink-ripple {
	background-color: white;
}

md-icon.action-item.ng-scope.material-icons {
	color: $color-action;
}