.card-cardview {
  width: 500px;
  height: 300px;
}

.preview-wrapper {
  text-align: center; 
  display: table;
  height: 90%;
  width:100%;
  .card-preview {
    display: table-cell; 
    vertical-align: middle;
  }
}

.card-front-view {
  color: #ffffff;
}

.card-back-view {
  color: #000000;
}