.deck-homeview {
  width: 360px;
  height: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/default-deck.png");
}

.deck-title {
  margin-top: -45px;
  margin-left: 24%;
  width: 70%;
  max-width: 70%;
  height: 100%;
  font-size: $mobile-large-text;
  color: $color-text;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}
.F6CAC9-deck-homeview { //red
  background-image: url("../images/F6CAC9.png");
}
.F4B794-deck-homeview { //orange
  background-image: url("../images/F4B794.png");
}
.D1C2AB-deck-homeview { //yellow
  background-image: url("../images/D1C2AB.png");
}
.E3EAA5-deck-homeview { //green
  background-image: url("../images/E3EAA5.png");
}
.C3DDD6-deck-homeview { //blue
  background-image: url("../images/C3DDD6.png");
}
.BEC6D5-deck-homeview { //indigo
  background-image: url("../images/BEC6D5.png");
}
.D1C3D5-deck-homeview { //purple
  background-image: url("../images/D1C3D5.png");
}

.deck-deckview {
  width: 300px;
  height: 180px;
  background-size: 100%;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
  -moz-box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
  box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
}
.F6CAC9-deck-deckview {
  background-color: #F6CAC9;
}
.F4B794-deck-deckview {
  background-color: #F4B794;
}
.D1C2AB-deck-deckview {
  background-color: #D1C2AB;
}
.E3EAA5-deck-deckview { //green
  background-color: #E3EAA5;
}
.C3DDD6-deck-deckview { //blue
  background-color: #C3DDD6;
}
.BEC6D5-deck-deckview { //indigo
  background-color: #BEC6D5;
}
.D1C3D5-deck-deckview { //purple
  background-color: #D1C3D5;
}

.metadata-wrapper {
  background-color: #FFFFFF;
  padding: 8px 16px;
  .metadata-chips {
    .md-chips {
      box-shadow: none;
      md-chip {
        font-size: 14px;
        color: white;
      }
    }
  }
  .metadata-accessibility-icon {
    transform: translateX(-25px);
  }
  .metadata-title-text {
    font-size: 26px;
  }
  .metadata-title-icon {
    margin-left: 4px;
    margin-top: -10px;
  }
}
.metadata-wrapper > div {
  margin: 5px;
}

.card-preview {
  padding: 10px;
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.forked-from {
  margin-left: 5px;
  color: $color-main;
}

.card-select {
  position: absolute;
  margin: 10px !important;
}

md-checkbox.deck-select {
  margin: 10px;
}

md-checkbox[disabled]:not(.md-checked) .md-icon {
  border-color: transparent;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-action;
  color: white;
  font-size: 10px;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .deck-homeview {
    width: 300px;
    height: 150px;
  }
}
