.deck-homeview {
  width: 360px;
  height: 180px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/default-deck.png");
}
.deck-title {
  margin-top: -45px;
  margin-left: 24%;
  width: 70%;
  max-width: 70%;
  height: 100%;
  font-size: $mobile-large-text;
  color: $color-text;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

.study-deck-homeview {
  background-image: url("../images/study-deck.png");
}
.work-deck-homeview {
  background-image: url("../images/work-deck.png");
}
.life-deck-homeview {
  background-image: url("../images/life-deck.png");
}

.deck-deckview {
  width: 180px;
  height: 180px;
  background-size: 100%;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
  -moz-box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
  box-shadow: 2px 2px 2px 1px rgba(166,164,166,1);
}
.study-deck-deckview {
  background-color: $color-study;
}
.work-deck-deckview {
  background-color: $color-work;
}
.life-deck-deckview {
  background-color: $color-life;
}

.metadata-wrapper {
  background-color: #FFFFFF;
  padding: 20px;
  .metadata-tag {
    background-color: $color-main;
    padding: 5px 10px;
    pointer-events: none;
    border: none;
    border-radius: 8px;
    vertical-align: middle;
  }
  .material-icons {
    width: 25px;
    margin-right: 25px;
  }
  .metadata-accessibility-icon {
    transform: translateX(-25px);
  }

  .metadata-title-icon {
    margin-left: 4px;
    margin-top: -10px;
  }
  .metadata-title-text {
    margin-left: -4px;
  }
}
.metadata-wrapper > div {
  margin: 5px;
}

.card-preview {
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.card-select {
  position: absolute;
  margin: 10px !important;
}

md-checkbox.deck-select {
  margin: 10px;
}

md-checkbox[disabled]:not(.md-checked) .md-icon {
  border-color: transparent;
}

.bottom-sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-action;
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .deck-homeview {
    width: 300px;
    height: 150px;
  }
}
