form {
	background-color: white;
	md-dialog-content {
		padding: 20px;
	}
	button.md-button.md-ink-ripple {
		padding-left: 20px;
		padding-right: 20px;
		background-color: $color-action;
		color: white;
	}
	button.cancel.md-button.md-ink-ripple {
		color: $color-action;
		background-color: white;
	}
	.md-button:not([disabled]):hover {
		background-color: $color-action;
		color: white;
	}
}

md-dialog {
	min-width: 40%;
}

md-checkbox:not(.md-checked) .md-icon {
	//border-color: $color-action;
}

md-checkbox .md-icon {
	border-radius: 50%;
	border-color: $color-action;
}

md-checkbox.md-checked .md-icon {
  background-color: $color-action;
  border-radius: 50%;
}

