// bower:scss
// endbower

$font-avenir: Avenir, Helvetica, sans-serif;

$color-main: #91A7D0; //serenity blue
$color-action: #A3777E; //nostalgia rose red
$color-text: #615C60; //volcanic glass dark grey
$color-background: #F0F0F0; //light grey
$color-study: #BEC6D5;  //artic ice light blue
$color-work: #C0B7AF; //silver gray
$color-life: #F6CAC9; //rose quartz pink

$mobile-large-text: 20px;
$mobile-small-text: 16px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font: 100% $font-avenir;
  color: $color-text;
  background-color: $color-background;
}

md-content {
  background-color: $color-background;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Action bar */
.md-toolbar-tools {
  background-color: $color-main;
}

/* Side-nav */
.side-nav {
  padding-top: 0px;
}

md-list-item.user-photo {
  background-color: $color-main;
  padding-top: 60px;
}

md-list-item .md-avatar {
  height: 56px;
  width: 56px;
}

.user-name {
  background-color: $color-main;
  color: white;
  font-size: $mobile-large-text;
  padding-bottom: 20px;
}

.md-subheader.md-no-sticky {
  font-size: $mobile-large-text;
  color: $color-work;
  background-color: white;
}

md-list-item.nav-item {
  p {
    font-size: $mobile-small-text;
  }
  .md-avatar {
    max-width: 16px;
    max-height: 16px;
  }
}

md-list-item .material-icons {
  color: $color-text;
  font-size: 18px;
  margin-right: 16px;
}

.white {
  background-color: white;  
}

.study {
  background-color: $color-study;
}

.work {
  background-color: $color-work;
}

.life {
  background-color: $color-life;
}

//decks
.study-deck {
  width: 360px;
  height: 180px;
  background-image: url("../../images/study-deck.png");
  background-size: 100%;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  md-list-item.user-photo {
    padding-top:10px;
  }
}
