$font-avenir: Avenir, Helvetica, sans-serif;

$color-main: #91A7D0; //serenity blue
$color-action: #DA4F70; //honeysuckle
$color-text: #615C60; //volcanic glass dark grey
$color-background: #F0F0F0; //light grey
$color-study: #BEC6D5;  //artic ice light blue
$color-work: #C0B7AF; //silver gray
$color-life: #F6CAC9; //rose quartz pink

$mobile-large-text: 20px;
$mobile-small-text: 16px;
